logs
*.log
__pycache__
*.pyc
*.uuid
*.conf
*.db
*.db-shm
*.db-wal
*.db-journal
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.json
*.crt
.storage
home-assistant.*
secrets.yaml
deps
tts
www/community
custom_components/hacs
.cloud
*.pickle
.pc-session
.homekit.state
